---
import Layout from '../layouts/Layout.astro';
---

<Layout title="YHT's Image Functions" description="Various image processing functions that all happen on your browser">
	<main>
		<h1>YHT's Image Functions</h1>

		<ul>
			<li><a href="/scaling">Scaling</a></li>
		</ul>
	</main>
</Layout>
