---
import Layout from '../layouts/Layout.astro';
---

<Layout
    title="YHT's Image Functions"
    description="Various image processing functions that all happen on your browser"
    backButton={false}
>
  <main>
    <h1>YHT's Image Functions</h1>
    <ul>
      <li><a href="/scaling">Scaling</a></li>
      <li><a href="/format">Format Conversion</a></li>
    </ul>
  </main>
  <footer>
    <a href="https://github.com/YouHaveTrouble/yht-image-function" target="_blank">Source</a>
    <a href="https://github.com/YouHaveTrouble/yht-image-function/blob/master/LICENSE" target="_blank">License</a>
  </footer>
</Layout>

<style lang="scss">
  main {
    padding-block: 6rem;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-block: 1rem;
    background: rgba(255,255,255, 0.05);
    border-radius: 0.25rem;
  }

  ul {
    font-size: 1.2rem;
    line-height: 1.4;

    li {
      list-style: disc;
      text-align: start;
    }
  }

  a {
    color: white;
    text-decoration: none;
    transition: border-bottom-color 0.1s;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom-color: white;
    }
  }
</style>
